/**
    hs->general
    hsb->for blogs
    hsb->for editor
    hs-editor-
*/

/* Structural*/
.hs-window-container{

}

.hs-main-container {
   
}

.hs-page-container{
     /** widget blog **/
}

.hs-app-container{
    /** post-main **/
}

aside {

}


footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hs-error-container {
    background-color: burlywood;
    padding-left: 0px;
    padding-right: 0px;
    border:1px solid pink;
}

.hs-message-container {
    background-color: rgb(62, 119, 225);
    padding-left: 0px;
    padding-right: 0px;
    border:1px solid pink;
}


.hs-page-side-con {

}

.hs-page-side-con .hs-side-sec {
    
}

.hs-side-popular-post {
    
}

.hsb-tags {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa
}
.hsb-tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.hsb-tags li {
  float: left; 
}

.hsb-tags a {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.hsb-tags a::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.hsb-tags a::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.hsb-tags a:hover {
  background-color: crimson;
  color: white;
}

.hsb-tags a:hover::after {
   border-left-color: crimson; 
}


 .hsb-pager {
    margin: 1em 0;
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
  }
  
  .hsb-pager-element a {
    background: #222;
    margin-right: 5px;
    font-weight: 700;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
  }
  .hsb-pager-p {
    background: #777;
    margin-right: 5px;
    font-weight: 700;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
  }

  

.hs-btnortxt-action {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}


.hs-button-action {
    margin-left:2px;
    margin-right:2px;
    border:1px solid pink;
}

.hs-gen-right {
    text-align: right;
}


/** JSONZone App **/

.hs-jsone-actbar{
    border:0px solid red;
    padding:0px;
    margin: 0px;
}
.hs-jsone-actbar-right{
    text-align: right;
    padding-right: 0px;
}
.hs-jsone-display {
    border:1px solid rgb(185, 152, 152);
    padding:0px;
    margin-left: 0px;
    margin-right: 0px;
}
.hs-jsone-ace-editor{
    
}
.hs-jsone-tree-editor{}

/** JSONZone App **/

/** Editor **/
.hsb-paragraph-input{

}

.hsb-bloc-disedit{

}
/** Editor **/

/** Hansini Blog Content Display (prefix: hsb) **/
/** each para we can think of 
both edit and display will contain same block

hsb-> blog content generated by hansini unified editor (hse)
hsb-> used in both blogs and editor
**/

/** Post List **/
.hsb-postlist-main {
    margin: 0 auto;
  
    padding-bottom: 20px;
  }
  .hsb-post-list {
    background-color: var(--hs-color-lc-body-bg);
    margin: 0 0 20px;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .hsb-post-list .header .heading {
    margin: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-radius: 3px;
    color: var(--hs-color-title);
  }
  
  
  .hsb-post-list .header {
    padding: 10px 10px!important
  }
  
  .hsb-post-list .header .meta {
    margin-top: 5px;
    padding: 0 20px 5px; 
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa
  }
  
  .hsb-post-list .bodyblock {
    margin: 10px;
  }
  
  .hsb-post-list .bodyblock .rmlink {
    float: right!important;
  }
  
  .hsb-post-list .bodyblock .rmlink a {
    padding: 8px 15px;
    text-transform: uppercase;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin-right:10px;
  }
  .hsb-post-list .bodyblock .rmlink a:hover {
    background: #444;
    color: #ddd!important;
  }
  
  

/** Blog Display **/
    .hsb-toc {
        width: 100%;
    }
  
  .hsb-toc .headerblock {
  }
  .hsb-toc .bodyblock {
    padding: 0.5rem ;
  }
  .hsb-toc .bodyblock ul {
    font-weight: 100;
    margin-top: 0px;
  }
  .hsb-toc .bodyblock ul li {
    font-weight: 300;
    font-size: var(--fs4);
    color: var(--hs-color-list-item);
  }
  .hsb-toc .bodyblock ul li a{
    color: var(--hs-color-list-item);
  }
  
  header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
  }
  header.masthead .site-heading,
  header.masthead .page-heading,
  header.masthead .post-heading {
    color: #fff;
  }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 3rem;
  }
  header.masthead .page-heading .post-subheading,
  header.masthead .site-heading .post-subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
  }
  header.masthead .post-heading h1 {
    font-size: 2.25rem;
  }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .post-subheading {
    line-height: 1.1;
    display: block;
  }
  header.masthead .post-heading .post-subheading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.75rem 0 2rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
  }
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  @media (min-width: 992px) {
    header.masthead {
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
      font-size: 5rem;
    }
    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
      font-size: 3.5rem;
    }
    header.masthead .post-heading .subheading {
      font-size: 1.875rem;
    }
  }
  
.hsb-post-main {

}
.hsb-post-main .post-title{
    
}
.hsb-post-main .post-subtitle{
    
}

.hsb-post-main .meta .date{
    
}

.hsb-post-main .meta .author{
    
}

.hsb-post-main .tags{
    
}

.hsb-post-main .text{
    
}
.hsb-post-main .post-image{
    
}

.hsb-post-main .post-video{
    
}

.hsb-post-main .list-cont{
    
}

.hsb-post-main .link-cont{
    
}

.hsb-post-main .blockquote{
    --x-height-multiplier: 0.375;
    /* --baseline-multiplier: 0.17; */
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    /* margin-left: -23px; */
    padding-bottom: 2px;
}


.hsb-mediafragment {
    border: 0px solid var(--hs-color-border);
    background-color: var(--hs-color-block-bg);
    width: 100%;
  }
  .hsb-mediafragment .headerblock {
    margin-top: 1rem;
  }
  .hsb-mediafragment .headerblock .title{
    font-size: var(--fs4);
    color: var(--hs-color-subtitle);
  }
  .hsb-mediafragment .bodyblock {
    border-bottom: 1px solid var(--hs-color-border);
    margin-top: 0rem;
  }
  .hsb-mediafragment .bodyblock .description{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: var(--fsbb);
  }
  
  .hsb-sscfragment {
    border: 0px solid var(--hs-color-border);
    background-color: var(--hs-color-block-bg);
    width: 100%;
  }
  .hsb-sscfragment .headerblock {
    margin-top: 1rem;
  }
  .hsb-sscfragment .headerblock .title{
    font-size: var(--fs4);
    color: var(--hs-color-subtitle);
  }
  .hsb-sscfragment .bodyblock {
    border-bottom: 1px solid var(--hs-color-border);
    margin-top: 0rem;
  }
  .hsb-sscfragment .bodyblock .description{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: var(--fsbb);
  }
  .hsb-sscfragment pre {
    padding: 10px;
    overflow: auto;
    line-height: 1;
    background-color: var(--hs-color-code-bg);
    border-radius: 3px;
    font-size: var(--fsbbb);
  }
  .hsb-sscfragment pre code {
    font-size: var(--fsbbb);
    font-weight: 100;
  }
  
  .hsb-codeFragment {
    border: 0px solid var(--hs-color-border);
    background-color: var(--hs-color-block-bg);
  }
  .hsb-codeFragment .headerblock{
   background-color:  var(--hs-color-header-bg);
   font-weight: 200px;
   border: 1px solid var(--hs-color-border);
  }
  
  .hsb-codeFragment .headerblock .title{
   background-color:  var(--hs-color-header-bg);
   margin-left:1em;
  }
  
  .hsb-codeFragment .headerblock .copyBtn {
    float: right;
    vertical-align: middle;
    margin-right:1em;
    margin: 2px;
    padding: 2px;
  }
  
  pre.prettyprint {
    padding:0px;
    border:0px;
    background-color: var(--hs-color-code-bg);
  }
  .hsb-codeFragment .bodyblock {
    padding: 0.5rem 1rem;
    margin-top: 0rem;
    background-color: var(--hs-color-code-bg);
  }
  
  .hsb-sourcecoderef .github {
    padding: 20px 45px;
    border: 0px solid #d1d1e8;
    background: #e6e6fc;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

.hsb-fragmentConsole{
    color: #abb2bf;
    background-color: #282c34;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    font-size: 87.5%;
}

.hsb-fragmentConsole .headerblock {
    border-left: 1px solid #282c34;
    border-right: 1px solid #282c34;
    border-top: 1px solid #282c34;
    border-bottom: 1px solid #5c6370;
    padding: 1rem 1.5rem;
}

.hsb-fragmentConsole .bodyblock {
    border-left: 1px solid #282c34;
    border-right: 1px solid #282c34;
    border-bottom: 1px solid #282c34;
    word-wrap: normal;
    overflow: auto;
    padding: 0;
    margin-bottom: 2rem;
    display: block;
}

.hsb-fragmentConsole .footerblock {
    
}

.hsb-fragmentImage {
    border: 2px solid #428BCA;
}

.hsb-bloc-video {

}
.hsb-bloc-list {

}
.hseb-bloc-code {

}

.hsb-bloc-console {

}

.hsb-bloc-url {

}

.hsb-post-main-con {
    /** article : post**/
}

.hsb-post-list-con {
    /** list page**/
}

.hsb-post-header-con {
    /** header**/
}
.hsb-post-meta-con {
    /** article : post**/
}
.hsb-post-meta-author {
   
}
.hsb-post-meta-date {
   
}
.hsb-post-body-con {
    /** header**/
}
.hsb-post-footer-con {
    /** header**/
}

.hsb-post-share-con {
    /** social**/
}

/** Comments **/
.hsb-comments-con {
    /** header**/
}

.hsb-comments-header-con {
    /** header**/
}

.hsb-comments-body-con {
  
}

.hsb-comments-item {
  
}

.hsb-comments-item .avatar {
  
}
.hsb-comments-item .text {
  
}

.hsb-cthread-con {
  
}

.hsb-comments-footer-con {
    /** footer**/
}

.hsb-postmast-head-con{

}

